<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>临床决策支持系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>

<!--导航栏部分开始-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row" style="height:113px">
            <div class="navbar-header col-md-4 col-md-offset-2">
                <div class="header-left clearfix" style="margin-top:25px">
                    <!-- logo -->
                    <div class="logo smooth-scroll" style="float:left;wight:74px">
                        <a href="#banner"><img id="logo" src="/images/logo_1.png" alt="Worthy"></a>
                    </div>
                    <!-- name-and-slogan -->
                    <div class="site-name-and-slogan smooth-scroll" style="margin-top:15px">
                        <div class="site-name"><a href="#banner">GMES</a></div>
                        <div class="site-slogan"><a target="_blank" href="http://htmlcoder.me">Goal Management & Enactment System</a></div>
                    </div>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse col-md-6" id="bs-example-navbar-collapse-1" style="margin-top: 30px">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Decision</a></li>
                    <li><a href="#">Guidelines</a></li>
                    <li><a href="#">Knowledge</a></li>
                    <li><a href="/cdss/jumpToCaseLibrary" target="_blank">Case Library</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container-fluid -->
</nav>
<!--导航栏部分结束-->


<!--主体部分开始-->
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="section translucent-bg bg-image-1 blue" style="background-color: rgba(85, 172, 238, 0.7);">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="services"  class="text-center title">Semantic Clinical Guidelines</h1>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-body text-left">
                        <h4 class="media-heading"><a href="/cdss/edit?disease=COVID-19">COVID-19</a></h4>
                        <p>In December 2019, the 2019 novel coronavirus (2019- nCoV) was discovered and identified in the viral pneumonia cases that occurred in Wuhan, Hubei Province, China; And then was named by the World Health Organization (WHO) on 12 January 2020. In the following month, the 2019-nCoV quickly spreading inside and outside of Hubei Province and even other countries. </p>
                    </div>
                    <div class="media-left">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-left">
                        <h4 class="media-heading"><a href="#">Triple assessment of breast cancer</a></h4>
                        <p>Triple assessment is a common procedure in the UK National Health Service to determine whether or not a patient with suspected breast cancer does or does not have malignant or benign breast disease. The process involves taking a comprehensive clinical history followed by decisions about imaging (typically mammography and ultrasound); biopsy (needle sampling) and the management of confirmed cancer. Genetic risk assessment is also included in this application..</p>
                    </div>
                    <div class="media-left">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-left">
                        <h4 class="media-heading"><a href="/cdss/edit?disease=Chronic_cough">Chronic Cough</a></h4>
                        <p>
                            Chronic cough is cough that lasts for at least 3 weeks. Chest radiographs should be ordered before any treatment is prescribed in nearly all patients with chronic cough (Grade II-2). Chest radiographs do not have to be routinely obtained before beginning treatment for presumed PNDS (post nasal drip syndrome) in young nonsmokers, in pregnant women, or before observing the result of discontinuation of an ACE-I (ACE Inhibitor) for 4 weeks for patients who developed cough shortly after beginning to take an ACE-I.
                        </p>
                    </div>
                    <div class="media-left">
                        <i class="fa fa-desktop"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-left">
                        <h4 class="media-heading"><a href="/cdss/edit?disease=Hypertension">Hypertension</a></h4>
                        <p>This guideline covers identifying and treating primary hypertension (high blood pressure) in people aged 18 and over. It aims to reduce the risk of cardiovascular problems such as heart attacks and strokes by helping healthcare professionals to diagnose hypertension accurately and treat it effectively. It also aims to reduce unnecessary treatment by improving the way blood pressure is measured</p>
                    </div>
                    <div class="media-left">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="space visible-xs"></div>
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Oesophago-gastric cancer</a></h4>
                        <p>This guideline covers assessing and managing oesophago-gastric cancer in adults, including radical and palliative treatment and nutritional support. It aims to reduce variation in practice through better organisation of care and support, and improve quality of life and survival by giving advice on the most suitable treatments depending on cancer type, stage and location.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-area-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Type 2 diabetes in adults: management</a></h4>
                        <p>This guideline covers the care and management of type 2 diabetes in adults (aged 18 and over). It focuses on patient education, dietary advice, managing cardiovascular risk, managing blood glucose levels, and identifying and managing long-term complications.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Colorectal cancer</a></h4>
                        <p>This guideline covers diagnosing and managing colorectal (bowel) cancer in people aged 18 and over. It aims to improve quality of life and survival for adults with colorectal cancer through early diagnosis and staging, management of local disease according to risk of recurrence (high, moderate, low) and management of secondary tumours (metastatic disease).</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-codepen"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Pancreatic cancer</a></h4>
                        <p>This quality standard covers diagnosis of pancreatic cancer and management of pancreatic ductal adenocarcinoma in adults aged over 18. This quality standard describes high-quality care in priority areas for improvement. It does not cover national initiatives, such as cancer screening or audit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--主体部分结束-->

<!--底部开始-->
<div style="background-color: rgba(0, 0, 0, 0.10);">
    <div class="default-bg space blue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">Let's Work Together!</h1>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Copyright © 2018 Worthy by <a target="_blank" href="http://htmlcoder.me">R&D Group 303</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--底部结束-->

</body>
</html>