<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>临床决策支持系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/gojs/go.js"></script>
    <style>
        /*文字超过三行显示...*/
        #hideWord {
            width:600px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
    </style>
    <!--go.js的内容-->
    <script id="code">
        function init() {
            if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
            var objGo = go.GraphObject.make;  // for conciseness in defining templates

            myDiagram =
                objGo(go.Diagram, "myDiagramDiv",  // must name or refer to the DIV HTML element
                    {
                        grid: objGo(go.Panel, "Grid",
                            objGo(go.Shape, "LineH", { stroke: "lightgray", strokeWidth: 0.5 }),
                            objGo(go.Shape, "LineH", { stroke: "gray", strokeWidth: 0.5, interval: 10 }),
                            objGo(go.Shape, "LineV", { stroke: "lightgray", strokeWidth: 0.5 }),
                            objGo(go.Shape, "LineV", { stroke: "gray", strokeWidth: 0.5, interval: 10 })
                        ),
                        allowDrop: true,  // must be true to accept drops from the Palette
                        "draggingTool.dragsLink": true,
                        "draggingTool.isGridSnapEnabled": true,
                        "linkingTool.isUnconnectedLinkValid": true,
                        "linkingTool.portGravity": 20,
                        "relinkingTool.isUnconnectedLinkValid": true,
                        "relinkingTool.portGravity": 20,
                        "relinkingTool.fromHandleArchetype":
                            objGo(go.Shape, "Diamond", { segmentIndex: 0, cursor: "pointer", desiredSize: new go.Size(8, 8), fill: "tomato", stroke: "darkred" }),
                        "relinkingTool.toHandleArchetype":
                            objGo(go.Shape, "Diamond", { segmentIndex: -1, cursor: "pointer", desiredSize: new go.Size(8, 8), fill: "darkred", stroke: "tomato" }),
                        "linkReshapingTool.handleArchetype":
                            objGo(go.Shape, "Diamond", { desiredSize: new go.Size(7, 7), fill: "lightblue", stroke: "deepskyblue" }),
                        rotatingTool: objGo(TopRotatingTool),  // defined below
                        "rotatingTool.snapAngleMultiple": 15,
                        "rotatingTool.snapAngleEpsilon": 15,
                        "undoManager.isEnabled": true
                    });

            // when the document is modified, add a "*" to the title and enable the "Save" button
            myDiagram.addDiagramListener("Modified", function(e) {
                var button = document.getElementById("SaveButton");
                if (button) button.disabled = !myDiagram.isModified;
                var idx = document.title.indexOf("*");
                if (myDiagram.isModified) {
                    if (idx < 0) document.title += "*";
                } else {
                    if (idx >= 0) document.title = document.title.substr(0, idx);
                }
            });

            // Define a function for creating a "port" that is normally transparent.
            // The "name" is used as the GraphObject.portId, the "spot" is used to control how links connect
            // and where the port is positioned on the node, and the boolean "output" and "input" arguments
            // control whether the user can draw links from or to the port.
            function makePort(name, spot, output, input) {
                // the port is basically just a small transparent square
                return objGo(go.Shape, "Circle",
                    {
                        fill: null,  // not seen, by default; set to a translucent gray by showSmallPorts, defined below
                        stroke: null,
                        desiredSize: new go.Size(7, 7),
                        alignment: spot,  // align the port on the main Shape
                        alignmentFocus: spot,  // just inside the Shape
                        portId: name,  // declare this object to be a "port"
                        fromSpot: spot, toSpot: spot,  // declare where links may connect at this port
                        fromLinkable: output, toLinkable: input,  // declare whether the user may draw links to/from here
                        cursor: "pointer"  // show a different cursor to indicate potential link point
                    });
            }

            var nodeSelectionAdornmentTemplate =
                objGo(go.Adornment, "Auto",
                    objGo(go.Shape, { fill: null, stroke: "deepskyblue", strokeWidth: 1.5, strokeDashArray: [4, 2] }),
                    objGo(go.Placeholder)
                );

            var nodeResizeAdornmentTemplate =
                objGo(go.Adornment, "Spot",
                    { locationSpot: go.Spot.Right },
                    objGo(go.Placeholder),
                    objGo(go.Shape, { alignment: go.Spot.TopLeft, cursor: "nw-resize", desiredSize: new go.Size(6, 6), fill: "lightblue", stroke: "deepskyblue" }),
                    objGo(go.Shape, { alignment: go.Spot.Top, cursor: "n-resize", desiredSize: new go.Size(6, 6), fill: "lightblue", stroke: "deepskyblue" }),
                    objGo(go.Shape, { alignment: go.Spot.TopRight, cursor: "ne-resize", desiredSize: new go.Size(6, 6), fill: "lightblue", stroke: "deepskyblue" }),

                    objGo(go.Shape, { alignment: go.Spot.Left, cursor: "w-resize", desiredSize: new go.Size(6, 6), fill: "lightblue", stroke: "deepskyblue" }),
                    objGo(go.Shape, { alignment: go.Spot.Right, cursor: "e-resize", desiredSize: new go.Size(6, 6), fill: "lightblue", stroke: "deepskyblue" }),

                    objGo(go.Shape, { alignment: go.Spot.BottomLeft, cursor: "se-resize", desiredSize: new go.Size(6, 6), fill: "lightblue", stroke: "deepskyblue" }),
                    objGo(go.Shape, { alignment: go.Spot.Bottom, cursor: "s-resize", desiredSize: new go.Size(6, 6), fill: "lightblue", stroke: "deepskyblue" }),
                    objGo(go.Shape, { alignment: go.Spot.BottomRight, cursor: "sw-resize", desiredSize: new go.Size(6, 6), fill: "lightblue", stroke: "deepskyblue" })
                );

            var nodeRotateAdornmentTemplate =
                objGo(go.Adornment,
                    { locationSpot: go.Spot.Center, locationObjectName: "CIRCLE" },
                    objGo(go.Shape, "Circle", { name: "CIRCLE", cursor: "pointer", desiredSize: new go.Size(7, 7), fill: "lightblue", stroke: "deepskyblue" }),
                    objGo(go.Shape, { geometryString: "M3.5 7 L3.5 30", isGeometryPositioned: true, stroke: "deepskyblue", strokeWidth: 1.5, strokeDashArray: [4, 2] })
                );

            myDiagram.nodeTemplate =
                objGo(go.Node, "Spot",
                    { locationSpot: go.Spot.Center },
                    new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                    { selectable: true, selectionAdornmentTemplate: nodeSelectionAdornmentTemplate },
                    { resizable: true, resizeObjectName: "PANEL", resizeAdornmentTemplate: nodeResizeAdornmentTemplate },
                    { rotatable: true, rotateAdornmentTemplate: nodeRotateAdornmentTemplate },
                    new go.Binding("angle").makeTwoWay(),
                    // the main object is a Panel that surrounds a TextBlock with a Shape
                    objGo(go.Panel, "Auto",
                        { name: "PANEL" },
                        new go.Binding("desiredSize", "size", go.Size.parse).makeTwoWay(go.Size.stringify),
                        objGo(go.Shape, "Rectangle",  // default figure
                            {
                                portId: "", // the default port: if no spot on link data, use closest side
                                fromLinkable: true, toLinkable: true, cursor: "pointer",
                                fill: "white",  // default color
                                strokeWidth: 2
                            },
                            new go.Binding("figure"),
                            new go.Binding("fill")),
                        objGo(go.TextBlock,
                            {
                                font: "bold 11pt Helvetica, Arial, sans-serif",
                                margin: 8,
                                maxSize: new go.Size(160, NaN),
                                wrap: go.TextBlock.WrapFit,
                                editable: true
                            },
                            new go.Binding("text").makeTwoWay())
                    ),
                    // four small named ports, one on each side:
                    makePort("T", go.Spot.Top, false, true),
                    makePort("L", go.Spot.Left, true, true),
                    makePort("R", go.Spot.Right, true, true),
                    makePort("B", go.Spot.Bottom, true, false),
                    { // handle mouse enter/leave events to show/hide the ports
                        mouseEnter: function(e, node) { showSmallPorts(node, true); },
                        mouseLeave: function(e, node) { showSmallPorts(node, false); }
                    }
                );

            function showSmallPorts(node, show) {
                node.ports.each(function(port) {
                    if (port.portId !== "") {  // don't change the default port, which is the big shape
                        port.fill = show ? "rgba(0,0,0,.3)" : null;
                    }
                });
            }

            var linkSelectionAdornmentTemplate =
                objGo(go.Adornment, "Link",
                    objGo(go.Shape,
                        // isPanelMain declares that this Shape shares the Link.geometry
                        { isPanelMain: true, fill: null, stroke: "deepskyblue", strokeWidth: 0 })  // use selection object's strokeWidth
                );

            myDiagram.linkTemplate =
                objGo(go.Link,  // the whole link panel
                    { selectable: true, selectionAdornmentTemplate: linkSelectionAdornmentTemplate },
                    { relinkableFrom: true, relinkableTo: true, reshapable: true },
                    {
                        routing: go.Link.AvoidsNodes,
                        curve: go.Link.JumpOver,
                        corner: 5,
                        toShortLength: 4
                    },
                    new go.Binding("points").makeTwoWay(),
                    objGo(go.Shape,  // the link path shape
                        { isPanelMain: true, strokeWidth: 2 }),
                    objGo(go.Shape,  // the arrowhead
                        { toArrow: "Standard", stroke: null }),
                    objGo(go.Panel, "Auto",
                        new go.Binding("visible", "isSelected").ofObject(),
                        objGo(go.Shape, "RoundedRectangle",  // the link shape
                            { fill: "#F8F8F8", stroke: null }),
                        objGo(go.TextBlock,
                            {
                                textAlign: "center",
                                font: "10pt helvetica, arial, sans-serif",
                                stroke: "#919191",
                                margin: 2,
                                minSize: new go.Size(10, NaN),
                                editable: true
                            },
                            new go.Binding("text").makeTwoWay())
                    )
                );

            load();  // load an initial diagram from some JSON text

            // initialize the Palette that is on the left side of the page
            myPalette =
                objGo(go.Palette, "myPaletteDiv",  // must name or refer to the DIV HTML element
                    {
                        maxSelectionCount: 1,
                        nodeTemplateMap: myDiagram.nodeTemplateMap,  // share the templates used by myDiagram
                        linkTemplate: // simplify the link template, just in this Palette
                            objGo(go.Link,
                                { // because the GridLayout.alignment is Location and the nodes have locationSpot == Spot.Center,
                                    // to line up the Link in the same manner we have to pretend the Link has the same location spot
                                    locationSpot: go.Spot.Center,
                                    selectionAdornmentTemplate:
                                        objGo(go.Adornment, "Link",
                                            { locationSpot: go.Spot.Center },
                                            objGo(go.Shape,
                                                { isPanelMain: true, fill: null, stroke: "deepskyblue", strokeWidth: 0 }),
                                            objGo(go.Shape,  // the arrowhead
                                                { toArrow: "Standard", stroke: null })
                                        )
                                },
                                {
                                    routing: go.Link.AvoidsNodes,
                                    curve: go.Link.JumpOver,
                                    corner: 5,
                                    toShortLength: 4
                                },
                                new go.Binding("points"),
                                objGo(go.Shape,  // the link path shape
                                    { isPanelMain: true, strokeWidth: 2 }),
                                objGo(go.Shape,  // the arrowhead
                                    { toArrow: "Standard", stroke: null })
                            ),
                        model: new go.GraphLinksModel([  // specify the contents of the Palette
                            { text: "dec", figure: "Circle", fill: "#00AD5F" },
                            { text: "act" },
                            //{ text: "DB", figure: "Database", fill: "lightgray" },
                            { text: "enq", figure: "Diamond", fill: "lightskyblue" },
                            //{ text: "End", figure: "Circle", fill: "#CE0620" },
                            { text: "plan", figure: "RoundedRectangle", fill: "lightyellow" }
                        ], [
                            // the Palette also has a disconnected Link, which the user can drag-and-drop
                            { points: new go.List(go.Point).addAll([new go.Point(0, 0), new go.Point(30, 0), new go.Point(30, 40), new go.Point(60, 40)]) }
                        ])
                    });
        }


        function TopRotatingTool() {
            go.RotatingTool.call(this);
        }
        go.Diagram.inherit(TopRotatingTool, go.RotatingTool);

        /** @override */
        TopRotatingTool.prototype.updateAdornments = function(part) {
            go.RotatingTool.prototype.updateAdornments.call(this, part);
            var adornment = part.findAdornment("Rotating");
            if (adornment !== null) {
                adornment.location = part.rotateObject.getDocumentPoint(new go.Spot(0.5, 0, 0, -30));  // above middle top
            }
        };

        /** @override */
        TopRotatingTool.prototype.rotate = function(newangle) {
            go.RotatingTool.prototype.rotate.call(this, newangle + 90);
        };
        // end of TopRotatingTool class


        // Show the diagram's model in JSON format that the user may edit
        function save() {
            saveDiagramProperties();  // do this first, before writing to JSON
            document.getElementById("mySavedModel").value = myDiagram.model.toJson();
            myDiagram.isModified = false;
        }
        function load() {
            myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
            loadDiagramProperties();  // do this after the Model.modelData has been brought into memory
        }

        function saveDiagramProperties() {
            myDiagram.model.modelData.position = go.Point.stringify(myDiagram.position);
        }
        function loadDiagramProperties(e) {
            // set Diagram.initialPosition, not Diagram.position, to handle initialization side-effects
            var pos = myDiagram.model.modelData.position;
            if (pos) myDiagram.initialPosition = go.Point.parse(pos);
        }

    </script>
    <script>

        var currentTask;//全局变量
        /**
         * 将enquiry任务的内容显示出来
         * @param enquiryTask
         */
        function createEnquiryTaskContent(enquiryTask) {
            currentTask = enquiryTask;
            //先清空原来的内容
            $("#taskContent").empty();
            $("#taskName").text("当前任务名称："+enquiryTask.caption);
            var enquirySourceList = enquiryTask.enquiry_source;
            for(var i=0;i<enquirySourceList.length;i++) {
                var enquirySource = enquirySourceList[i];
                var head = "<div class='form-group'>";
                var title = "<label>"+i+"."+enquirySource.caption+"</label><br/>";
                var foot = "</div><br/>";
                if(enquirySource.data_type == "boolean") {
                    var range = enquirySource.range;
                    var body = "";
                    for(var j=0;j<range.length;j++) {
                        if(range[j] == enquirySource.default_value) {//将要生成的选项是默认值
                            body += "<lable class='radio-inline'><input type='radio' name='"+enquirySource.name+"' id='"+enquirySource.name+"' value='"+range[j]+"' checked>"+range[j]+"</lable>";
                        }else {//将要生成的选项不是默认值
                            body += "<lable class='radio-inline'><input type='radio' name='"+enquirySource.name+"' id='"+enquirySource.name+"' value='"+range[j]+"'>"+range[j]+"</lable>";
                        }
                    }
                    $("#taskContent").append(head+title+body+foot);
                }else if(enquirySource.data_type == "text") {
                    var range = enquirySource.range;
                    var body = "";
                    for(var j=0;j<range.length;j++) {
                        if(enquirySource.select_model == "single") {//单选
                            if(range[j] == enquirySource.default_value) { //将要生成的选项是默认值
                                body += "<label><input type='radio' name='"+enquirySource.name+"' id='"+enquirySource.name+"' value='"+range[j]+"' checked>"+range[j]+"</lable><br/>";
                            } else {
                                body += "<label><input type='radio' name='"+enquirySource.name+"' id='"+enquirySource.name+"' value='"+range[j]+"'>"+range[j]+"</lable><br/>";
                            }
                        }else {//否则就是多选，我也懒得判断了
                            if(range[j] == enquirySource.default_value) { //将要生成的选项是默认值
                                body += "<label><input type='checkbox' id='"+enquirySource.name+"' value='"+range[j]+"' checked>"+range[j]+"</lable><br/>";
                            } else {
                                body += "<label><input type='checkbox'  id='"+enquirySource.name+"' value='"+range[j]+"'>"+range[j]+"</lable><br/>";
                            }
                        }
                    }
                    $("#taskContent").append(head+title+body+foot);
                } else {//否则就是int或者double类型了
                    var body = "<input type='text' class='form-control' id='"+enquirySource.name+"' value='"+enquirySource.default_value+"'>";
                    $("#taskContent").append(head+title+body+foot);
                }
            }
            //添加提交和清除按钮
            var btn = "<button type='button' class='btn btn-primary' onclick='submitEnquiryTaskContent()'>Submit</button><button type='button' class='btn btn-default' style='margin-left: 10px' onclick='resetEnquiryTaskContent()'>Reset</button>"
            $("#taskContent").append(btn);
        }

        /**
         * 用户点击enquiry任务的重置按钮
         */
        function resetEnquiryTaskContent() {
            var enquiryTask = currentTask;//将全局变量拿来用
            createEnquiryTaskContent(enquiryTask);
        }


        /**
         * 用户点击enquiry任务的提交按钮
         */
        function submitEnquiryTaskContent() {
            var enquiryResultArr = collectEnquiryResult();
            debugger;
            console.log(enquiryResultArr);
            // var sendEnquiryResultArr = {};
            // sendEnquiryResultArr.data = "data";
            // sendEnquiryResultArr.enquiryResultArr = enquiryResultArr;
            //将答案发送至后台
            $.ajax({
                url:"/cdss/submitEnquiryResult",
                data:{"resultList":JSON.stringify(enquiryResultArr),"currentTaskId":currentTask.nodeId},
                dataType:"json",
                type:"POST",
                traditional:true,
                success:function (res) {
                    //后台将会把下一个要执行的任务返回过来
                    debugger;
                    console.log(res);
                    if(res.errorCode == 500) {
                        alert(res.errorMsg);
                    }else {
                        //执行这个任务，也就是将任务内容显示在页面上
                        execteTask(res);
                    }
                }
            });
        }

        /**
         * 收集用户填写的答案
         */
        function collectEnquiryResult() {
            var enquiryResultArr = [];//有好多个问题
            $("#taskContent div").each(function (index,enquiryDiv) {
                var result = {};//封装后台需要的答案数据
                debugger;
                console.log(enquiryDiv);
                result.source_caption = enquiryDiv.children[0].textContent.split(".")[1];//将前面的序号去掉
                result.result = "";
                var inputItems = enquiryDiv.getElementsByTagName("input");
                for(var i=0;i<inputItems.length;i++) {
                    debugger;
                    var inputItem = inputItems[i];
                    console.log(inputItem);
                    if(inputItem.getAttribute("type") == "radio" && inputItem.checked == true) {//当这个输入框是单选框，且被选中，那这就是用户的答案
                        result.source_name = inputItem.getAttribute("id");
                        result.source_name = inputItem.getAttribute("name");
                        result.result += inputItem.getAttribute("value");
                        result.select_model = "single";//单选框就是单选
                        result.node_id = currentTask.nodeId;//通过全局变量来知道该问题属于哪一个任务节点
                    } else if(inputItem.getAttribute("type") == "text") {//当这个输入框是input
                        debugger;
                        result.source_name = inputItem.getAttribute("id");
                        //result.result += inputItem.getAttribute("value");
                        result.result += inputItem.value;
                        result.select_model = "single";//单选框就是单选
                        result.node_id = currentTask.nodeId;//通过全局变量来知道该问题属于哪一个任务节点
                    } else if(inputItem.getAttribute("type") == "checkbox" && inputItem.checked == true) {//多选框
                        result.source_name = inputItem.getAttribute("id");
                        result.result += inputItem.getAttribute("value");
                        result.result += ",";//结果用逗号分隔
                        result.select_model = "multiple";//多选框就是多选
                        result.node_id = currentTask.nodeId;//通过全局变量来知道该问题属于哪一个任务节点
                    }
                }
                //到这里结果封装完成
                enquiryResultArr.push(result);
            });
            //将结果返回出去
            return enquiryResultArr;
        }


        /**
         * 将action任务的内容显示出来
         * @param actionTask
         */
        function createActionTaskContent(actionTask) {
            currentTask = actionTask;//保存当前的任务为全局变量
            debugger;
            //先把这里面原有的内容清空
            $("#taskContent").empty();
            $("#taskName").text("当前任务名称："+actionTask.caption);
            //action任务要显示的内容，相当于一个通知形式的内容
            var body = "<textarea class='form-control' rows='5' value='"+actionTask.content+"' disabled>"+actionTask.content+"</textarea><br/>";
            //显示action任务的内容
            $("#taskContent").append(body);
            //提交按钮
            var submitBtn = "<button type='button' class='btn btn-primary' onclick='submitActionTaskContent()'>Submit</button>";
            $("#taskContent").append(submitBtn);
        }


        /**
         * 用户点击action任务的提交按钮
         */
        function submitActionTaskContent() {
            //把当前正在执行的节点id发送给后台，用于获得下一个需要执行的节点就可以了
            var currentTaskId = currentTask.nodeId;
            $.ajax({
                url:"/cdss/submitActionTask",
                data:{"currentTaskId":currentTaskId},
                dataType:"json",
                type:"POST",
                success:function (res) {
                    //后台将会把下一个要执行的任务返回过来
                    debugger;
                    console.log(res);
                    if(res.errorCode == 500) {
                        alert(res.errorMsg);
                    }else {
                        //执行这个任务，也就是将任务内容显示在页面上
                        execteTask(res);
                    }
                }
            });
        }



        /**
         * 将plan任务的内容显示出来
         */
        function createPlanTaskContent(planTask) {
            currentTask = planTask;//保存当前的任务为全局变量

            //先把这里面原有的内容清空
            $("#taskContent").empty();
            $("#taskName").text("当前任务名称："+planTask.caption);
            //action任务要显示的内容，相当于一个通知形式的内容
            var body = "<textarea class='form-control' rows='5' value='"+planTask.content+"' disabled>"+actionTask.content+"</textarea><br/>";
            //显示action任务的内容
            $("#taskContent").append(body);
            //提交按钮
            var submitBtn = "<button type='button' class='btn btn-primary' onclick='submitPlanTaskContent()'>Submit</button>";
            $("#taskContent").append(submitBtn);
        }




        /**
         * 用户点击plan任务的提交按钮
         */
        function submitPlanTaskContent() {
            //把当前正在执行的节点id发送给后台，用于获得下一个需要执行的节点就可以了
            var currentTaskId = currentTask.nodeId;
            $.ajax({
                url:"/cdss/submitPlanTask",
                data:{"currentTaskId":currentTaskId},
                dataType:"json",
                type:"POST",
                success:function (res) {
                    //后台将会把下一个要执行的任务返回过来
                    debugger;
                    console.log(res);
                    if(res.errorCode == 500) {
                        alert(res.errorMsg);
                    }else {
                        //执行这个任务，也就是将任务内容显示在页面上
                        execteTask(res);
                    }
                }
            });
        }



        /**
         * 将decision任务的内容显示出来
         *
         */
        function createDecisionTaskContent(decisionTask) {
            debugger;
            console.log(decisionTask);
            currentTask = decisionTask;
            //先清空原来的内容
            $("#taskContent").empty();
            $("#taskName").text("当前任务名称："+decisionTask.caption);
            var recommendationList = decisionTask.recommendationList;
            for(var i=0;i<recommendationList.length;i++) {
                var recommendation =  recommendationList[i];
                if(recommendation.weight > 0) {//默认权重大于0才能被推荐
                    var head = "<div class='panel panel-primary'>";
                    var title = "<div class='panel-heading' style='height: 40px'><h3 class='panel-title' style='float: left'><input type='checkbox' id='"+recommendation.name+"'>"+recommendation.caption+"</h3><p style='float: right'>Weight: "+recommendation.weight+"</p></div><div class='panel-body'>";
                    var foot = "</div></div>";
                    var body = "";
                    var recommendBasisList = recommendation.recommendBasisList;
                    for(var j=0;j<recommendBasisList.length;j++) {
                        var recommendBasis = recommendBasisList[j];
                        body += "<blockquote>";
                        body += "<h4><span class='glyphicon glyphicon-triangle-right' aria-hidden='true' style='color: #1b6d85'></span>"+recommendBasis.caption+"</h4>";
                        body += "<h5><div id='hideWord' title='"+recommendBasis.condition+"'><strong>condition:</strong>"+recommendBasis.condition+"</div></h5>";
                        body += "<h5><strong>weight:</strong>"+recommendBasis.support+"</h5>";
                        body += "</blockquote>";
                    }
                    $("#taskContent").append(head+title+body+foot);
                } else {
                    var head = "<div class='panel panel-default'>";
                    var title = "<div class='panel-heading' style='height: 40px'><h3 class='panel-title' style='float: left'><input type='checkbox' id='"+recommendation.name+"'>"+recommendation.caption+"</h3><p style='float: right'>Weight: "+recommendation.weight+"</p></div><div class='panel-body'>";
                    var foot = "</div></div>";
                    var body = "";
                    var recommendBasisList = recommendation.recommendBasisList;
                    for(var j=0;j<recommendBasisList.length;j++) {
                        var recommendBasis = recommendBasisList[j];
                        body += "<blockquote>";
                        body += "<h4><span class='glyphicon glyphicon-triangle-right' aria-hidden='true' style='color: #1b6d85'></span>"+recommendBasis.caption+"</h4>";
                        body += "<h5><div id='hideWord' title='"+recommendBasis.condition+"'><strong>condition:</strong>"+recommendBasis.condition+"</div></h5>";
                        body += "<h5><strong>weight:</strong> "+recommendBasis.support+"</h5>";
                        body += "</blockquote>";
                    }
                    $("#taskContent").append(head+title+body+foot);
                }
            }
            //添加一个提交按钮
            var btn = "<button type='button' class='btn btn-primary' onclick='submitDecisionTaskContent()'>Submit</button>";
            $("#taskContent").append(btn);
        }



        /**
         * 用户点击提交decision任务的按钮
         */
        function submitDecisionTaskContent() {
            var decisionResult = {};
            //有些数据直接从全局变量中拿即可
            decisionResult.decision_name = currentTask.name;
            decisionResult.node_id = currentTask.nodeId;
            //接下来看用户选中了哪个candidate
            var temp = [];
            var recommendationList = currentTask.recommendationList;
            for(var i=0;i<recommendationList.length;i++) {
                debugger;
                var recommendation = recommendationList[i];
                var input = $("#"+recommendation.name);
                if(input[0].checked == true) {
                    //decisionRsult.candidate_name = recommendation.name;
                    temp.push(recommendation.name);
                }
            }
            if(temp.length == 0) {
                alert("you must choose a candidate");
                return;
            } else if(temp.length > 1) {
                alert("you can only choose a candidate");
                return;
            } else {
                decisionResult.candidate_name = temp[0];
            }
            debugger;
            console.log(decisionResult);
            //将结果发给后台
            $.ajax({
                url:"/cdss/submitDecisionTask",
                data:{"decisionResult":JSON.stringify(decisionResult),"currentNodeId":currentTask.nodeId},
                dataType:"json",
                type:"POST",
                success:function (res) {
                    //后台将会把下一个要执行的任务返回过来
                    debugger;
                    console.log(res);
                    if(res.errorCode == 500) {
                        alert(res.errorMsg);
                    }else {
                        //执行这个任务，也就是将任务内容显示在页面上
                        execteTask(res);
                    }
                }
            });
        }



        /**
         * 执行任务的方法
         * @param res
         */
        function execteTask(res) {
            var taskType = res.task_type;
            if(taskType == "enquiry") {
                createEnquiryTaskContent(res);
            } else if(taskType == "action") {
                createActionTaskContent(res);
            } else if(taskType == "plan") {
                createPlanTaskContent(res);
            } else {//decision任务
                createDecisionTaskContent(res);
            }
            showNodeStatus();//先显示节点的状态
        }


        /**
         * 显示节点状态的方法
         */
        function showNodeStatus() {
            //得到疾病名称
            var disease = $("#services").text();
            //向后台拿数据
            $.ajax({
                url:"/cdss/getNodeStatusAndTaskNetwork",
                data:{"disease":disease},//使用全局变量来获得数据
                dataType:"json",
                type:"POST",
                success:function (res) {
                    var task_network = JSON.stringify(res);//将对象变成字符串
                    console.log(task_network);
                    //将任务网络显示出来
                    if(task_network != '{}') {//得到的东西不为空,判断对象不为空
                        $("#mySavedModel").val(task_network);//则将从后台得到的东西显示出来,后台没有数据则使用默认的数据
                        load();
                    }
                }
            });
        }
    </script>
    <script>
        $(document).ready(function(){
            //页面一开始，需要从后台得到第一个任务
            $.ajax({
                url:"/cdss/getFristTask",
                data:{},
                dataType:"json",
                type:"POST",
                success:function (res) {
                    //后台将会把下一个要执行的任务返回过来
                    if(res.errorCode == 500) {
                        alert(res.errorMsg);
                    }else {
                        //执行这个任务，也就是将任务内容显示在页面上
                        execteTask(res);
                    }
                }
            });
        });
    </script>
</head>
<body onload="init()">
<div class="page-header">
    <h1>指南执行<small th:text="${disease}"></small></h1>
</div>
<div class="container-fluid">
    <h1 id="services" style="display: none;" class="text-center title" th:text="${disease}"></h1><!--不显示出来，只是用来保存疾病名称的-->
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default" style="height: 700px;overflow: scroll">
                <div class="panel-heading">
                    <h3 class="panel-title" id="taskName">process</h3>
                </div>
                <div class="panel-body">
                    <form id="taskContent">

                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <!--显示正在运行的任务图状态-->
            <div id="sample">
                <div style="width:100%; white-space:nowrap;" >
                    <!--这个部分不用显示-->
                    <span style="display: none; vertical-align: top; width:105px">
                      <div id="myPaletteDiv" style="border: solid 1px black; height: 500px"></div>
                    </span>

                    <span style="display: inline-block; vertical-align: top; width:100%">
                        <div id="myDiagramDiv" style="border: solid 1px black; height: 400px"></div>
                    </span>
                </div>
                <div style="display: none;">
                    <div>
                        <button id="SaveButton" onclick="save()">Save</button>
                        <button onclick="load()">Load</button>
                    </div>
                    <textarea id="mySavedModel" style="width:100%;height:300px">
                        { "class": "go.GraphLinksModel",
                        "linkFromPortIdProperty": "fromPort",
                        "linkToPortIdProperty": "toPort",
                        "nodeDataArray": [
                        ],
                        "linkDataArray": [
                        ]}
                    </textarea>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>